{erl_opts, [debug_info]}.
{deps, [ {kafe, {git, "https://github.com/botsunit/kafe.git", {branch, "master"}}} ]}.
{relx, [ {release, {erlang_kafka, "0.1.0"}, [erlang_kafka]},
         {dev_mode, true},
         {include_erts, false},
         {sys_config, "rel/files/default.sys.config"} ]}.
{profiles,
 [ {default, [ {relx, [ {sys_config, "rel/files/default.sys.config"} ]} ]},
   {test,    [ {relx, [ {sys_config, "rel/files/default.sys.config"} ]} ]},
   {prod,    [ {relx, [ {sys_config, "rel/files/prod.sys.config"} ]} ]} ]}.
