[
 {kafe, [
         {brokers, [
                    %% Docker containers
                    {"172.18.0.2", 9092},
                    {"172.18.0.4", 9092},
                    {"172.18.0.5", 9092}
                   ]},
         {pool_size, 1},
         {chunk_pool_size, 2},
         {brokers_update_frequency, 10000},
         {client_id, <<"kafe">>},
         {api_version, 1},
         {correlation_id, 0},
         {socket, [ {sndbuf, 4194304},
                    {recbuf, 4194304},
                    {buffer, 4194304} ]}
        ]}
].
